<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="JDBC.properties"/>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
<!--        <typeAlias type="org.ncepu.domain.Student" alias="Student"></typeAlias>-->
<!--        第二种方式，name是包名包中所以的类，类名就是别名-->
<!--        <package name="org.necpu.domain"/>-->
        <package name="com.ncepu.crm.settings.domain"/>
        <package name="com.ncepu.crm.workbench.domain"/>
    </typeAliases>
    <environments default="mybase">
        <environment id="mybase">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="com.ncepu.crm.settings.dao"/>
        <package name="com.ncepu.crm.workbench.dao"/>
    </mappers>
</configuration>